.posts {
    width: 900px;
    margin: 0 auto;
}

.blackBtn {
    padding: 10px 25px;
    border-radius: 8px;
    background-color: black;
    color: #fff;
    transition: all .4s;
    display: block;
    margin: 30px auto;
}

.blackBtn:hover {
    background-color: red;
}